nav {
  background-color: #333;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li {
  color: white;
}

.link{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
