.chatroom-container{
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  color: white;
}

.messages{
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
}

.input-area button {
  padding: 10px 20px;
  background-color: #53e06b;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-area input {
  padding: 10px;
  border: none;
  flex: 1;
  border-radius: 10px;
  margin-right: 10px;
  background-color:#242e47;
  color: white;
}

::placeholder{
  color:#d1dbe8;
}

.input-area {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
}


.message{
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  min-width: 50px;
  font-size: 12px;
  display:inline-block
}

.message.user{
  background-color: #242e47;
  align-self: flex-end;
  border-radius: 100px;

}

.message.bot{
  background-color: #242e47;
  align-self: flex-start;
  border-radius: 100px;
  max-width: 500px;
}

